<button
    class="w-1/2 h-full flex-center {% if active_tab == 'quotes' %}bg-blue-500 text-white{% else %}bg-transparent hover:bg-slate-600/20 duration-300{% endif %}"
    type="button"
    hx-get={% url "quote_list" %}
    hx-target="#table_data"
    hx-swap="innerHTML transition:true"
    hx-trigger="click"
    onclick="htmx.ajax('GET', '{% url 'sidebar' %}?tab=quotes', '#sidebar')">
    COTIZACIONES
</button>
<button
    class="w-1/2 h-full flex-center {% if active_tab == 'aprovals' %}bg-blue-500 text-white{% else %}bg-transparent hover:bg-slate-600/20 duration-300{% endif %}"
    type="button"
    hx-get={% url "approved_quote_list" %}
    hx-target="#table_data"
    hx-swap="innerHTML transition:true"
    hx-trigger="click"
    onclick="htmx.ajax('GET', '{% url 'sidebar' %}?tab=aprovals', '#sidebar')">
    APROBACIONES
</button>