{% load static %}

<div id="create_or_update_quote" class="w-full h-full p-4 flex flex-col gap-2 bg-slate-50/50 rounded-xs justify-center items-center text-sm">
    <div class="basic-container w-full h-[10%] mb-[10px] bg-slate-50 text-xl font-bold">
        <p>{% if action == "create" %}Crear Cotizacion{% elif action == "update" %}Actualizar Cotizacion #{{ quote }}{% endif %}</p>
    </div>
    
    <div class="w-full h-[80%] border-2 border-[#B6B6B6] overflow-y-scroll">
        <table id="product_table" class="table-auto w-full text-sm border-separate border-spacing-x-2">
            <thead class="sticky top-0 bg-slate-50 z-10">
                <tr class="h-[48px]">
                    <th style="width:40%">Producto - Descripcion</th>
                    <th style="width:10%">Descuento</th>
                    <th style="width:10%">{% if role == "MAN" or role == "ADM" %}Margen{% endif %}</th>
                    <th style="width:10%">Cantidad</th>
                    <th style="width:10%">Precio unitario</th>
                    <th style="width:10%">Precio venta</th>
                    <th style="width:10%">Acciones</th>
                </tr>
            </thead>
            <tbody id="quote_items">
                {% if product_forms %}
                    {% for product_form in product_forms %}
                        {% include "quote/partials/product_form.html" with product_form=product_form index=forloop.counter0 role=role %}
                    {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>

    <div id="quote_info" class="flex justify-evenly w-full h-[10%] py-4 px-1 bg-slate-50 gap-x-2">
        <div class="w-1/2 h-full flex justify-evenly gap-1">
            <div class="w-3/6">
                {{ quote_form.client }}
                </datalist>
            </div>
            <div class="w-2/6">
                {{ quote_form.salesRep }}
            </div>
            <div class="w-1/6">
                <select id="exchange" name="exchange" class="w-full h-[24px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm">
                    <option value="USD">USD</option>
                    <option value="CLP">CLP</option>
                    <option value="UF">UF</option>
                </select>
            </div>
        </div>
        <div
            hx-get="{% url "update_quote_totals" %}"
            hx-trigger="load once, click from:#quote_items target:.remove_product delay:100ms"
            hx-target="this"
            hx-swap="innerHTML"
            id="quote_totals" class="w-1/2 h-[24px] flex flex-row justify-evenly items-center gap-x-1">
            <div class="flex flex-row items-center w-1/5 border-2 h-full rounded-xs border-slate-300">
                <p class="w-1/2 px-2 text-left">Total Neto</p>
                <p class="w-1/2 px-2 text-right"></p>
            </div>
            <div class="flex flex-row items-center w-1/5 border-2 h-full rounded-xs border-slate-300">
                <p class="w-1/2 px-2 text-left">IVA</p>
                <p class="w-1/2 h-full px-2 text-right"></p>    
            </div>
            <div class="flex flex-row items-center w-3/5 border-2 h-full rounded-xs border-slate-300">
                <p class="w-1/2 px-2 text-left">Total con IVA</p>
                <p class="w-1/2 px-2 text-right"></p>
            </div>
        </div>
    </div>
    
    <div class="w-full flex flex-row justify-evenly items-center text-sm gap-2">
        <button
            hx-get="{% url "list_layout" %}"
            hx-target="#create_or_update_quote"
            hx-swap="innerHTML transition:true"
            class="w-1/4 h-[32px] bg-slate-500 text-white rounded-xs flex justify-center items-center shadow hover:bg-slate-600 duration-300"
            type="button">
            Atras
        </button>
        <button
            hx-get="{% url 'product_form' %}?index={{ index }}"
            hx-target="#quote_items"
            hx-swap="beforeend transition:true"
            class="w-1/4 h-[32px] bg-blue-500 text-white rounded-xs flex justify-center items-center shadow hover:bg-blue-600 duration-300">
            Agregar Producto
        </button>
        <button
            hx-get="{% url 'template_selector' %}"
            hx-target="#quote_items"
            hx-swap="beforeend transition:true"
            class="w-1/4 h-[32px] bg-teal-500 text-white rounded-xs flex justify-center items-center shadow hover:bg-teal-600 duration-300">
            Agregar Plantilla
        </button>
        <button
            id="create_or_update_quote"
            {% if action == "create" %}
            hx-post="{% url 'create_or_update_quote' %}?action=create"
            {% elif action == "update" %}
            hx-post="{% url "create_or_update_quote" %}?action=update&pk={{ quote.pk }}"
            {% endif %}
            hx-target="body"
            hx-include="#quote_info, #quote_items"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
            class="w-1/4 h-[32px] bg-green-600 text-white rounded-xs flex justify-center items-center shadow hover:bg-green-700 duration-300">
            {% if action == "create" %}
            Crear Cotización
            {% elif action == "update" %}
            Actualizar Cotización
            {% endif %}
        </button>
    </div>
</div>