{% load static %}

<div id="quote_view" class="w-full h-full p-4 flex flex-col gap-2">
    <div class="basic-container w-full h-[10%] mb-[10px] bg-slate-50 text-xl font-bold">
        <p>Detalle de Cotizacion #{{ quote.public_id }}</p>
    </div>
    <div class="w-full h-2/12 mb-[10px] bg-slate-50 flex flex-row">
        <div class="w-full h-full grid grid-flow-col grid-rows-3 grid-cols-3 p-4 gap-x-4">
            <div class="px-2 text-sm"><b>Cliente</b>: {{ quote.client.name }}</div>
            <div class="px-2 text-sm"><b>Rep. Ventas</b>: {{ quote.salesRep.first_name }} {{ quote.salesRep.last_name }}</div>
            <div class="px-2 text-sm"><b>Fecha</b>: {{ quote.date }}</div>
            <div class="px-2 text-sm"><b>Total Neto</b>: {{ quote.total }}</div>
            <div class="px-2 text-sm"><b>IVA</b>: {{ iva }}</div>
            <div class="px-2 text-sm"><b>Total con IVA</b>: {{ final }}</div>
            <div class="px-2 text-sm"><b>Estado</b>: {{ quote.get_status_display }}</div>
        </div>
    </div>
    <div class="w-full h-8/12 bg-slate-50 overflow-y-auto">
        <table id="product_table" class="table-auto w-full text-sm px-2 border-2 border-[#B6B6B6]">
            <thead class="sticky top-0 bg-slate-50">
                <tr class="h-[48px] my-2">
                    <th style="width:10%">Producto</th>
                    <th style="width:30%">Descripcion</th>
                    <th style="width:10%">Descuento</th>
                    <th style="width:10%">{% if role == "MAN" %}Margen{% endif %}</th>
                    <th style="width:10%">Cantidad</th>
                    <th style="width:10%">Precio unitario</th>
                    <th style="width:10%">Precio venta</th>
                    <th style="width:10%"></th>
                </tr>
            </thead>
            <tbody
                id="table_data"
                class="text-center text-sm"
                hx-get="{% url "quote_products" quote.pk %}"
                hx-trigger="load"
                hx-swap="innerHTML">
            </tbody>
        </table>
    </div>
    <div class="w-full h-1/12 flex flex-row justify-evenly items-center text-sm gap-2">
        <button
            hx-get="{% url "list_layout" %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-sm bg-slate-500 hover:bg-slate-600 duration-300"
            type="button">
            Atras
        </button>
        <a
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-sm bg-slate-500 hover:bg-slate-600 duration-300"
            href="{% url "generate_pdf" quote.pk %}">
            <button
                type="button">
                Crear Documento
            </button>
        </a>
        <button
            {% if quote.status == "AP" %}disabled{% endif %}
            hx-get="{% url "set_status" quote.pk "AP" "overview" %}"
            hx-target="#quote-{{ quote.pk }}"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] flex justify-center items-center rounded-sm text-white bg-amber-500 {% if quote.status != "AP" %}hover:bg-amber-600 duration-300{% endif %}"
            type="button">
            Aprobar
        </button>
        <button
            {% if quote.status == "RJ" %}disabled{% endif %}
            hx-get="{% url "set_status" quote.pk "RJ" "overview" %}"
            hx-target="#quote-{{ quote.pk }}"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] flex justify-center items-center rounded-sm text-white bg-slate-500 {% if quote.status != "RJ" %}hover:bg-slate-600 duration-300{% endif %}"
            type="button">
            Rechazar
        </button>
        <button
            hx-get="{% url "update_quote" quote.pk %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-sm bg-blue-500 hover:bg-blue-600 duration-300"
            type="button">
            Editar
        </button>
        <button
            hx-get="{% url "delete_quote" quote.pk %}"
            hx-confirm="Esta seguro de que desea eliminar la cotizacion {{ quote.public_id }}?"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-sm bg-red-500 hover:bg-red-600  duration-300"
            type="button">
            Eliminar
        </button>
    </div>
</div>