{% load static %}

<div id="quote_view" class="w-full h-full p-4 flex flex-col gap-2">
    <div class="basic-container w-full h-[10%] mb-[10px] bg-slate-50 text-xl font-bold">
        <p>Detalle de Cotizacion #{{ quote }}</p>
    </div>
    <div class="w-full h-2/12 mb-[10px] border-2 border-[#B5B5B5]">
        <table class="w-full h-full table-fixed text-left text-sm border-separate border-spacing-y-1 border-spacing-x-2 bg-slate-50">
            <tr>
                <th colspan="6">Institución</th>
                <td colspan="20" class="bg-slate-600/10 px-2 rounded-md">{{ quote.client.name }}</td>
                <th colspan="6">Fecha</th>
                <td colspan="20" class="bg-slate-600/10 px-2 rounded-md">{{ quote.date }}</td>
                <th colspan="6">Total Neto</th>
                <td colspan="20" class="bg-slate-600/10">
                    <div class="flex flex-row w-full bg-slate-600/10 rounded-md">
                        <p class="w-1/2 px-2 text-left">USD</p>
                        <p class="w-1/2 px-2 text-right">{{ quote.total }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="6">Rep. Ventas</th>
                <td colspan="20" class="bg-slate-600/10 px-2 rounded-md">{{ quote.salesRep.first_name }} {{ quote.salesRep.last_name }}</td>
                <th colspan="6">Estado</th>
                <td colspan="20" class="bg-slate-600/10 px-2 rounded-md">{{ quote.get_status_display }}</td>
                <th colspan="6">IVA</th>
                <td colspan="20" class="bg-slate-600/10">
                    <div class="flex flex-row w-full bg-slate-600/10 rounded-md">
                        <p class="w-1/2 px-2 text-left">USD</p>
                        <p class="w-1/2 px-2 text-right">{{ iva }}</p>
                    </div>
                </td>
            </tr>
            <tr>
                <th colspan="6">Región</th>
                <td colspan="20" class="bg-slate-600/10 px-2 rounded-md">{{ quote.client.get_region_display }}</td>
                <th colspan="6"></th>
                <td colspan="20"></td>
                <th colspan="6">Total con IVA</th>
                <td colspan="20" class="bg-slate-600/10">
                    <div class="flex flex-row w-full bg-slate-600/10 rounded-md">
                        <p class="w-1/2 px-2 text-left">USD</p>
                        <p class="w-1/2 px-2 text-right">{{ final }}</p>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <div class="w-full h-8/12 border-2 border-[#B6B6B6]">
        <table id="product_table" class="table-auto w-full text-sm border-separate border-spacing-2">
            <thead class="sticky top-0 bg-slate-50 z-10">
                <tr class="h-[48px] my-2">
                    <th style="width:10%">Producto</th>
                    <th style="width:40%">Descripcion</th>
                    <th style="width:10%">Descuento</th>
                    <th style="width:10%">{% if role == "MAN" %}Margen{% endif %}</th>
                    <th style="width:10%">Cantidad</th>
                    <th style="width:10%">Precio unitario</th>
                    <th style="width:10%">Precio venta</th>
                </tr>
            </thead>
            <tbody
                id="table_data"
                class="text-center text-sm"
                hx-get="{% url "quote_products" quote.pk %}"
                hx-trigger="load"
                hx-swap="innerHTML">
            </tbody>
        </table>
    </div>
    <div class="w-full h-1/12 flex flex-row justify-evenly items-center text-sm gap-2">
        <button
            hx-get="{% url "list_layout" %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-xs bg-slate-500 hover:bg-slate-600 duration-300"
            type="button">
            Atras
        </button>
        <a
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-xs
            {% if quote.status == "AP" %}
                bg-slate-500 hover:bg-slate-600
            {% else %}
                bg-slate-300
            {% endif %} duration-300"
            {% if quote.status == "AP" %}href="{% url "generate_pdf" quote.pk %}"{% endif %}>
            <button
                type="button">
                Crear Documento
            </button>
        </a>
        {% if role == "MAN" or role == "ADM" %}
        <button
            {% if quote.status == "AP" %}disabled{% endif %}
            hx-get="{% url "set_status" quote.pk "AP" %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] flex justify-center items-center rounded-xs text-white
            {% if quote.status == "AP" %}
                bg-slate-300
            {% else %}
                bg-blue-500 hover:bg-blue-600
            {% endif %} duration-300"
            type="button">
            Aprobar
        </button>
        <button
            {% if quote.status == "RJ" %}disabled{% endif %}
            hx-get="{% url "set_status" quote.pk "RJ" %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] flex justify-center items-center rounded-xs text-white
            {% if quote.status == "RJ" %}
                bg-slate-300
            {% else %}
                bg-amber-500 hover:bg-amber-600
            {% endif %} duration-300"
            type="button">
            Rechazar
        </button>
        {% else %}
        <div class="w-2/6"></div>
        {% endif %}
        <button
            hx-get="{% url "update_quote" quote.pk %}"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-xs bg-slate-500 hover:bg-slate-600 duration-300"
            type="button">
            Editar
        </button>
        <button
            hx-get="{% url "delete_quote" quote.pk %}"
            hx-confirm="Esta seguro de que desea eliminar la cotizacion {{ quote.public_id }}?"
            hx-target="#quote_view"
            hx-swap="outerHTML transition:true"
            class="w-1/6 h-[32px] text-white flex justify-center items-center rounded-xs bg-slate-500 hover:bg-red-600  duration-300"
            type="button">
            Eliminar
        </button>
    </div>
</div>