{% load static %}

<tr
    id="product_form-{{ index }}"
    class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10 hover:bg-slate-600/20 duration-300">
    <input id="product_pk-{{ index }}" name="product_pk" type="hidden" value="{{ index }}" />
    <td>{{ product_form.product }}</td>
    <td>{{ product_form.discount }}</td>
    <td>
        {% if role == "MAN" or role == "ADM" %}
        {{ product_form.profit_margin }}
        {% else %}
        <input type="number"
            type="hidden"
            name="profit_margin"
            value="35"
            readonly
            class="w-full pl-[4px] border-2 border-[#B6B6B6] rounded-xs bg-gray-100" />
        {% endif %}
    </td>
    <td>{{ product_form.quantity }}</td>

    <td
        colspan="2"
        hx-get="{% url 'update_product_prices' %}?index={{ index }}"
        hx-trigger="load once delay:50ms, change from:#product-{{ index }}, change from:#discount-{{ index }}, change from:#profit_margin-{{ index }}, change from:#quantity-{{ index }}"
        hx-include="#pk-{{ index }}, #product-{{ index }}, #discount-{{ index }}, #profit_margin-{{ index }}, #quantity-{{ index }}"
        hx-target="this"
        hx-swap="innerHTML">
    </td>

    <td>
        <button
            hx-get="{% url 'remove_product_form' %}"
            hx-target="#product_form-{{ index }}"
            hx-include="#product_pk-{{ index }}"
            hx-swap="outerHTML"
            class="remove_product flex justify-center items-center w-full h-full rounded-xs text-white text-sm bg-slate-500 hover:bg-slate-600 duration-300">
            Descartar
        </button>
    </td>
</tr>