{% load static %}

{% for product in products %}
    {% if product %}
    <tr
        id="product_quote-{{ product.pk }}"
        class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10 hover:bg-slate-600/20 duration-300">
        <th class="font-normal">{{ product.product.code }}</th>
        <th class="font-normal">{{ product.product.description }}</th>
        <th class="font-normal">{{ product.discount }}</th>
        <th class="font-normal">{% if role == "MAN" %}{{ product.profit_margin }}{% endif %}</th>
        <th class="font-normal">{{ product.quantity }}</th>
        <th class="font-normal">{{ product.unit_price }}</th>
        <th class="font-normal">{{ product.subtotal }}</th>
    </tr>
    {% else %}
    <tr class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10">
        <td colspan="7" style="empty-cells: show;">&nbsp;</td>
    </tr>
    {% endif %}
{% endfor %}

<tr>
    <td>
        <button
            class="flex justify-center items-center w-full h-full rounded-xs text-white text-sm
            {% if page_obj.has_previous %}
                bg-teal-500 hover:bg-teal-600
            {% else %}
                bg-slate-300
            {% endif %} duration-150"
            {% if page_obj.has_previous %}
            hx-get="{% url "quote_products" quote_pk %}?page={{ page_obj.previous_page_number }}"
            hx-target="#table_data"
            hx-swap="innerHTML transition:true"
            {% else %}
            disabled
            {% endif %}>
            Anterior
        </button>
    </td>
    <td class="text-center mx-4" colspan="5">
        <div class="flex justify-center items-center w-full">
            <p>Página <b>{{ page_obj.number }}</b> de {{ page_obj.paginator.num_pages }}</p>
        </div>
    </td>
    <td>
        <button
            class="flex justify-center items-center w-full h-full rounded-xs text-white text-sm
            {% if page_obj.has_next %}
                bg-teal-500 hover:bg-teal-600
            {% else %}
                bg-slate-300
            {% endif %} duration-150"
            {% if page_obj.has_next %}
                hx-get="{% url 'quote_products' quote_pk %}?page={{ page_obj.next_page_number }}"
                hx-target="#table_data"
                hx-swap="innerHTML transition:true"
            {% else %}
                disabled
            {% endif %}>
            Siguiente
        </button>
    </td>
</tr>