{% load static %}

<div id="product_form-{{ index }}" class="flex gap-1 px-1 items-center border-b-2 border-[#B6B6B6] text-center w-full h-[32px]">
    <input id="product_pk-{{ index }}" name="product_pk" type="hidden" value="{{ index }}" />
    <div class="w-[40%]">
        {{ product_form.product }}
    </div>
    <div class="w-[10%] flex items-center justify-center">
        {{ product_form.discount }}
    </div>
    <div class="w-[10%] flex items-center justify-center">
    {% if role == "MAN" or role == "ADM" %}
        {{ product_form.profit_margin }}
    {% else %}
        <input type="number"
            type="hidden"
            name="profit_margin"
            value="35"
            readonly
            class="w-full pl-[4px] border-2 border-[#B6B6B6] rounded-sm bg-gray-100" />
    {% endif %}
    </div>
    <div class="w-[10%] flex items-center justify-center">
        {{ product_form.quantity }}
    </div>

    <div
        class="w-[20%] flex items-center gap-[4px] justify-center"
        hx-get="{% url 'update_product_prices' %}?index={{ index }}"
        hx-trigger="load once, change from:#product-{{ index }}, change from:#discount-{{ index }}, change from:#profit_margin-{{ index }}, change from:#quantity-{{ index }}"
        hx-include="#pk-{{ index }}, #product-{{ index }}, #discount-{{ index }}, #profit_margin-{{ index }}, #quantity-{{ index }}"
        hx-target="this"
        hx-swap="innerHTML">
    </div>

    <div class="w-[10%]">
        <button
            hx-get="{% url 'remove_product_form' %}"
            hx-target="#product_form-{{ index }}"
            hx-include="#product_pk-{{ index }}"
            hx-swap="outerHTML"
            class="remove_product w-full h-[24px] rounded-sm bg-slate-500 hover:bg-slate-600 duration-300 text-white">
            Descartar
        </button>
    </div>
</div>