{% load static %}

{% for quote in quotes %}
<tr style="height:32px; max-height:32px;" class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10 hover:bg-slate-600/20 duration-300">
    <td>{{ quote.public_id }}</td>
    <td>{{ quote.client.name }}</td>
    <td>{{ quote.salesRep.first_name }} {{ quote.salesRep.last_name }}</td>
    <td>{{ quote.date }}</td>
    <td>{{ quote.approved|yesno:"Si,No" }}</td>
    <td>
        <div class="flex justify-center items-center">
            <button
                hx-get="{% url "quote_detail" quote.pk %}"
                hx-target="#quote_list"
                hx-swap="outerHTML transition:true"
                class="w-[90%] h-[32px] flex justify-center items-center rounded-sm text-white bg-blue-500 hover:bg-blue-600 duration-300"
                type="button">
                Revisar
            </button>
        </div>
    </td>
</tr>
{% endfor %}