{% load static %}

{% if not real_quotes %}
<tr>
    <td colspan="6" class="text-center text-slate-400 italic">
        No hay cotizaciones disponibles.
    </td>
</tr>
{% else %}
    {% for quote in quotes %}
        {% if quote %}
        <tr
            hx-get="{% url 'quote' quote.pk %}"
            hx-trigger="load delay:{{ forloop.counter0|add:'5' }}0ms"
            hx-swap="outerHTML transition:true"
            class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10">
            <td colspan="6">Cargando cotización...</td>
        </tr>
        {% else %}
        <tr class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10">
            <td colspan="7" style="empty-cells: show;">&nbsp;</td>
        </tr>
        {% endif %}
    {% endfor %}

<tr>
    <td>
        <button
            class="flex justify-center items-center w-full h-full rounded-xs text-white text-sm
            {% if page_obj.has_previous %}
                bg-teal-500 hover:bg-teal-600
            {% else %}
                bg-slate-300
            {% endif %} duration-150"
            {% if page_obj.has_previous %}
            hx-get="{% url "quote_list" %}?page={{ page_obj.previous_page_number }}"
            hx-target="#table_data"
            hx-swap="innerHTML transition:true"
            {% else %}
            disabled
            {% endif %}>
            Anterior
        </button>
    </td>
    <td class="text-center mx-4" colspan="5">
        <div class="flex justify-center items-center w-full">
            <p>Página <b>{{ page_obj.number }}</b> de {{ page_obj.paginator.num_pages }}</p>
        </div>
    </td>
    <td>
        <button
            class="flex justify-center items-center w-full h-full rounded-xs text-white text-sm
            {% if page_obj.has_next %}
                bg-teal-500 hover:bg-teal-600
            {% else %}
                bg-slate-300
            {% endif %} duration-150"
            {% if page_obj.has_next %}
                hx-get="{% url 'quote_list' %}?page={{ page_obj.next_page_number }}"
                hx-target="#table_data"
                hx-swap="innerHTML transition:true"
            {% else %}
                disabled
            {% endif %}>
            Siguiente
        </button>
    </td>
</tr>
{% endif %}