<tr
    id="quote-{{ quote.pk }}"
    style="height:10%; max-height:10%;"
    class="border-b-4 border-b-white/70 rounded-lg bg-slate-600/10 hover:bg-slate-600/20 duration-300">
    <td>{{ quote.public_id }}</td>
    <td>{{ quote.client.name }}</td>
    <td>{{ quote.salesRep.first_name }} {{ quote.salesRep.last_name }}</td>
    <td>{{ quote.date }}</td>
    <td>{{ quote.get_status_display }}</td>
    <td>
        <button
            hx-get="{% url "quote_detail" quote.pk %}"
            hx-target="#quote_list"
            hx-swap="outerHTML transition:true"
            class="w-full h-full flex justify-center items-center rounded-xs text-white bg-blue-500 hover:bg-blue-600 duration-300"
            type="button">
            Revisar
        </button>
    </td>
</tr> 