<div id="template-selector" class="flex gap-[4px] px-2 items-center border-b-2 border-[#B6B6B6] text-center w-full h-[32px]">
    <select
        id="template-list"
        name="template"
        hx-get={% url "template_products" %}
        hx-include="this"
        hx-swap="outerHTML"
        hx-target="#template-selector"
        class="w-full h-[24px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm">
        <option id="0" value="0">Seleccione Plantilla</option>
        {% for template in templates %}
            <option id="{{ template.pk }}" value="{{ template.pk }}">{{ template.name }}</option>
        {% endfor %}
    </select>
</div>