 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">Total Neto</p>
    <input id="total_net" name="total_net" readonly class="w-1/2 px-2 text-right outline-none border-transparent shadow-none" value="{{ total_net }}" />
</div>
 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">IVA</p>
    <input id="iva" name="iva" readonly class="w-1/2 px-2 text-right outline-none border-transparent shadow-none" value="{{ iva }}" />    
</div>
 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">Total con IVA</p>
    <input id="final" name="final" readonly class="w-1/2 px-2 text-right outline-none border-transparent shadow-none" value="{{ final }}" />
</div>
        