 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">Total Neto</p>
    <p class="w-1/2 px-2 text-right">{{ total_net }}</p>
</div>
 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">IVA</p>
    <p class="w-1/2 px-2 text-right">{{ iva }}</p>    
</div>
 <div class="flex flex-row items-center w-1/3 border-2 h-full border-[#B6B6B6]">
    <p class="w-1/2 px-2 text-left">Total con IVA</p>
    <p class="w-1/2 px-2 text-right">{{ final }}</p>
</div>
        