{% load static %}

<div id="quote_list" class="w-full h-full flex flex-col items-start p-4 bg-slate-50/50 rounded-sm text-sm">
    <div class="basic-container w-full h-[10%] mb-[10px] bg-slate-50 text-xl font-bold">
        <p>Listado de Cotizaciones</p>
    </div>
    
    <div class="w-full h-[80%] overflow-y-auto">
        <table id="quote_table" class="table-auto w-full text-sm px-2 border-2 border-[#B6B6B6]">
            <thead class="sticky top-0 bg-slate-50 px-2">
                <tr class="h-[48px] my-2">
                    <th style="width:12%">ID</th>
                    <th style="width:32%">Cliente</th>
                    <th style="width:16%">Rep. Ventas</th>
                    <th style="width:10%">Fecha</th>
                    <th style="width:10%">Estado</th>
                    <th style="width:20%">Acciones</th>
                </tr>
            </thead>
            <tbody
                id="table_data"
                class="text-center text-sm px-2"
                hx-get="{% url "quote_list" %}"
                hx-trigger="load delay:500ms"
                hx-swap="innerHTML transition:true">
            </tbody>
        </table>
    </div>

    <div class="w-full h-[10%] mb-4 bg-slate-50 flex gap-2 px-2">
        <form
            id="filter"
            class="w-full h-full flex flex-row justify-center items-center gap-x-1"
            hx-get="{% url "quote_list" %}"
            hx-trigger="change delay:250ms"
            hx-target="#table_data"
            hx-swap="innerHTML"
            hx-include="this">
            <input
                class="w-[28%] h-[24px] border-2 rounded-sm border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="public_id"
                placeholder="Buscar por ID">
            <input
                class="w-[28%] h-[24px] border-2 rounded-sm border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="client"
                placeholder="Buscar por Cliente">
            <input
                class="w-[28%] h-[24px] border-2 rounded-sm border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="date"
                type="date">
            <input
                class="w-[8%] h-[24px] flex justify-center items-center rounded-sm bg-slate-400 hover:bg-slate-600 duration-150 text-white text-sm"
                hx-get="{% url "quote_list" %}"
                hx-trigger="click delay:100ms"
                hx-target="#table_data"
                hx-swap="innerHTML transition:true"
                type="reset"
                value="Refrescar">
            <button
                class="w-[8%] h-[24px] flex justify-center items-center rounded-sm bg-slate-400 hover:bg-green-600 duration-150 text-white text-sm"
                hx-get="{% url "create_quote" %}"
                hx-target="#quote_list"
                hx-swap="outerHTML transition:true"
                type="button">
                Agregar
            </button>
        </form>
    </div>
</div>