{% load static %}

{% with current_filters|safe as filters %}
<div id="quote_list" class="w-full h-full flex flex-col items-start p-4 bg-slate-50/50 rounded-xs text-sm">
    <div class="basic-container w-full h-[10%] mb-[10px] bg-slate-50 text-xl font-bold">
        <p>Listado de Cotizaciones</p>
    </div>
    
    <div class="w-full h-[80%] border-2 border-[#B6B6B6]">
        <table id="quote_table" class="w-full h-full table-fixed text-sm border-separate border-spacing-1">
            <thead class="h-[10%] bg-slate-50">
                <tr class="h-full">
                    <th style="width:16%">ID</th>
                    <th style="width:32%">Cliente</th>
                    <th style="width:16%">Rep. Ventas</th>
                    <th style="width:10%">Fecha</th>
                    <th style="width:10%">Estado</th>
                    <th style="width:16%">Acciones</th>
                </tr>
            </thead>
            <tbody
                id="table_data"
                class="h-[90%] text-center text-sm"
                hx-get="{% url "quote_list" %}"
                hx-trigger="load delay:200ms"
                hx-swap="innerHTML transition:true">
            </tbody>
        </table>
    </div>

    <div class="w-full h-[10%] mb-4 bg-slate-50 flex gap-2 px-1">
        <form
            id="filter"
            class="w-full h-full flex flex-row justify-center items-center gap-x-1"
            hx-get="{% url "quote_list" %}"
            hx-trigger="change delay:200ms"
            hx-target="#table_data"
            hx-swap="innerHTML"
            hx-include="this">
            <input
                class="w-[16%] h-[32px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="public_id"
                placeholder="Buscar por ID">
            <input
                class="w-[32%] h-[32px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="client"
                placeholder="Buscar por Cliente">
            <input
                class="w-[16%] h-[32px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="sales_rep"
                placeholder="Buscar por Rep. Ventas">
            <input
                class="w-[10%] h-[32px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="date"
                type="date">
            <select
                class="w-[10%] h-[32px] border-2 rounded-xs border-slate-300 focus:outline-none focus:border-slate-700 px-2 text-sm"
                name="status">
                <option value=""></option>
                <option value="AP">Aprobada</option>
                <option value="RJ">Rechazada</option>
                <option value="WT">En espera</option>
            </select>
            <input
                class="w-[8%] h-[32px] flex justify-center items-center rounded-xs bg-slate-400 hover:bg-slate-600 duration-150 text-white text-sm"
                hx-get="{% url "quote_list" %}"
                hx-trigger="click delay:50ms"
                hx-target="#table_data"
                hx-swap="innerHTML transition:true"
                type="reset"
                value="Refrescar">
            <button
                class="w-[8%] h-[32px] flex justify-center items-center rounded-xs bg-slate-400 hover:bg-green-600 duration-150 text-white text-sm"
                hx-get="{% url "create_quote" %}"
                hx-target="#quote_list"
                hx-swap="outerHTML transition:true">
                Agregar
            </button>
        </form>
    </div>
</div>
{% endwith %}