{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Smarty - {% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={% static "output.css" %} rel="stylesheet">
        <link rel="icon" href="{% static 'icons/axion_logo.svg' %}" type="image/svg+xml">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body class="basic-container w-full h-screen font-roboto text-slate-700 bg-gradient-to-br from-gray-100 via-gray-200 to-gray-300">
        <div class="absolute top-0 r-1/2 w-full h-[5%] flex justify-around font-semibold">
            <div class="w-5/6 h-full flex flex-row items-center">
                {% if role == "MAN" or role == "ADM" %}
                <p class="px-2 flex items-center h-full basic-text text-white bg-amber-500">Administrador</p>
                {% endif %}
                <p class="px-2 flex items-center h-full basic-text text-[#1e293b]">Bienvenid@, {{ full_name }}</p>
            </div>
            <form method="post" action="{% url 'logout' %}" class="w-1/6 h-full">
                {% csrf_token %}
                <button type="submit" class="w-full h-full text-slate-500 hover:text-white bg-orange-50 hover:bg-orange-300 duration-300">Cerrar Sesion</button>
            </form>
        </div> 
        
        {% block content %}
        {% endblock %}

        {% if role == "MAN" %}
        <div
            id="sidebar"
            hx-get="{% url "sidebar" %}?tab=quotes"
            hx-trigger="load"
            hx-swap="innerHTML"
            class="absolute bottom-0 r-1/2 w-full h-[5%] bg-white/50 flex justify-around font-semibold">
        </div>
        {% endif %}
    </body>
</html>