{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}Smarty{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={% static "output.css" %} rel="stylesheet">
        <link rel="icon" href="{% static 'icons/axion_logo.svg' %}" type="image/svg+xml">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    </head>
    <body class="w-full h-screen flex justify-center items-center font-roboto text-slate-700 relative overflow-hidden">
        <div class="absolute top-0 left-0 w-full h-full -z-10">
            <img src="{{ bg }}" alt="background" class="w-full h-full object-cover opacity-40" />
        </div>

        <div class="z-10 flex flex-col justify-center items-center space-y-20 h-1/2 w-1/3">
            <p class="basic-header text-slate-700">Bienvenido a Smarty</p>
            <div class="space-y-2 flex flex-col justify-center items-center w-[300px]">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li class="{{ message.tags }}">{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                <a href="{% url 'login' %}" class="w-[256px] h-[44px] text-white bg-blue-500 hover:bg-blue-600 duration-300 flex justify-center items-center font-semibold">
                    Iniciar Sesión
                </a>
                <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="w-[256px] h-[44px] text-white bg-slate-600 hover:bg-slate-700 duration-300 flex justify-center items-center font-semibold">
                    Reportar un problema
                </a>
            </div>
        </div>
    </body>
</html>